@model u3_aspnetcore.Models.Inscripcion

<h1>registrado exitosamente</h1>

<p>
    se ha agregado  @Model.Id, @Model.IdAlumno, @Model.Carrera


</p>
<p><a asp-action="ListadoRegistros">ver listado de Registros</a></p>

